/* Default styles for all screen sizes */
*{
    margin: none;
    padding: none;
    box-sizing: border-box;
}
body {
    font-size: 62.6%; /* Setting base font size for rem units */
    /* width: fit-content; */
    /* position: absolute; */
    margin: 0;/*To prevent user agent automatic margin*/
}
/* Apply to the entire document */
html, body {
    touch-action: manipulation;
}
.header{
    width: 100%;
    background-color: rgba(31, 120, 244, 0.753);
    position: fixed;
    width: 100%;
    /* left: 0; */
    /* padding: 1rem; */
    color: white;
    text-align: left;
    margin: auto;
    font-size: 2.5rem;
    z-index: 1;
    gap: 1rem;
}

.open{
    /* display: none; */
}

input {
    border: .2rem solid rgba(31, 120, 244, 0.753);
    border-radius: 5rem;
    width: auto;
    height: 5rem;
    outline: none;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 4rem;
    text-align: left;
    padding: .27    5rem;
    margin: 1rem;
}


input::placeholder {
    color: gray;
    font-size: 5rem;
    text-align: center;
}

/* input:nth-child(even) {
    border-left: .25rem solid purple;
} */

.inpt-group {
    /* border: .5rem solid purple; */
    position: fixed;
    bottom: 10rem;
    width: 30vw;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
    margin-top: 1rem;
}

canvas {
    width: auto;/*Needs to be in auto because the drawing on the canvas needs to be accurate.*/
    height: auto;
    align-self: center;
    position: relative;
    z-index: auto;
    right: 0;
    will-change: transform; /*Hint to the browser to use hardware acceleration*/
    /* transform: translateZ(0); Force hardware acceleration */
}
image{
    width: inherit;
    height: auto;
}
button {
    height: inherit;
    width: 100%;
    font-size: 3.5rem;
    background-color: rgba(31, 120, 244, 0.753);
    border-radius: 5rem;
    outline: none;
    border: none;
    color: white;
    font-weight: 600;
    padding: 1.5rem;
}
button span .material-symbols-outlined{
    font-size: 3.5rem;
};
.welcome{
    position: absolute;
    width: 100vw;
    height: fit-content;
    background-color: rgba(31, 120, 244, 0.753);
    /* right: 1rem; */
    left: -1rem;
    top: 0;
    right: inherit;
    z-index: 10;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
}
#close-welcome{
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: white;
}
.loader-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 2rem;
    height: fit-content;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Media query for mobile devices */
@media only screen and (min-width: 280px) and (max-width: 1040px) {
    /* Adjust styles for mobile devices here */
    .welcome{
        width: 100vw;
        height: 100vh;
        padding: .5rem;
        background-color: rgba(31, 120, 244, 0.919);
        margin: auto;
        position: absolute;
        text-align: center;
        left: 0;
        top: 0;
        right: inherit;
        z-index: 10;
        display: block;
    }
    .welcome-text{
        margin-top: 2rem;
        color: white;
        font-size: 2rem;
    }
    .welcome-instruction{
        height: auto;
        width: -moz-fit-content;
        width: auto;
        /* position: absolute; */
        border: .25rem solid white;
        border-radius: .5rem;
        background-color: rgba(31, 120, 244, 0.979);
        font-size: 1.2rem;
        padding: .275rem;
        color: white;
        bottom: 0;
    }
    .header{
        position: fixed;
        width: 100vw;
        font-size: 1rem;
        margin: auto;
        top: 0;
        right: 0;
        text-wrap: wrap;
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
        /* flex-direction: column; */
    }
    .open{
        display: block;
        position:fixed;
        width: auto;
        right: 1rem;
        bottom:12rem;

        border-radius: .5rem;
    }
    .none{
        display: none;
        transform-origin: 0 0;
        transition: transform 0.3s ease;
    }
    .inpt-group {
        position: fixed;
        width: auto; /* Example adjustment */
        padding: 0;
        height: auto;
        bottom: .5rem;
        left: 0;
        right: 0;
        margin: auto;
        border: none;
        padding: 1rem;
    }
    input{
        height: 2rem;
        width: 10rem;
        font-size: 1rem;
        margin-bottom: .5rem;
        border-radius: 5rem;
        border: .1rem solid grey;
    }
    input::placeholder{
        font-size: 1rem;
    }
    button{
        padding: .25rem;
        width: 50%;
        font-size: 1rem;
        border-radius: 5rem;
    }
    .inputs-btns{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
     #drawLine{
        width: 80%;
        padding: 1rem;
        align-self: center;
    }
    canvas{
        width: 100vw;
        height: 100vh;
        position: relative;
        z-index: auto;
        margin-top: 3.5rem;
        left: 0;
        right: 0;
        will-change: transform;/*( Hint to the browser to use hardware acceleration */
        transform: translateZ(0); /* Force hardware acceleration */
    }
    .flex{
        margin-top: .25rem;
    }
}

/* Media query for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 1280px) {
    /* Adjust styles for tablet devices here */
    .inpt-group {
        position: fixed;
        width: 100vw; /* Example adjustment */
        padding: 0;
        height: 100vh;
        bottom: .5rem;
        left: 0;
        /* right: 0; */
        margin: auto;
        border: none;
    }
}
