:root {
  --form-width: 25vw;
  --button-size: 5vw;
  --input-padding: 1vw;
  --font-size: 1.5vw;
}

body {
  font-size: var(--font-size);
}
/* svg {
  touch-action: none;
} */

.map-container {
  flex-grow: 1;
  background-color: #fbfafa;
  position: absolute;
}
img {
  width: 100%;
  height: 100%;
}
/* svg {
  width: 100%;
  height: auto;
} */
svg {
  width: 5400;
  height: 7200;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.inputs-btns{
  background-color: #fbfafa;
}
.inputs-btns,
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}

input[type="text"] {
  flex: 1;
  padding: var(--input-padding);
  border: 1px solid #DDD;
  width: 100%;
  border-radius: 25px;
  font-size: var(--font-size);
}
input::placeholder{
  text-align: center;
}
.inputs-btns button{
  width: 100%;
  padding: 2rem;
  border: #6200EA 1px solid;
  background-color: transparent;
  color: #6200EA;
}
button {
  /* padding: var(--input-padding); */
  border: 1px solid gray;
  color: gray;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 10px;
  font-size: var(--font-size);
}
button:hover{
  background-color: grey;
  color: white;
}

 
.recent{
  /* display: flex;
  align-items:center;
  justify-content: space-around; */
  display: block;
  padding: 10px;  
  background-color: white;
}
.recent button{
  border: none;
}
.recent-list {
  list-style: none;
  padding: 0;
  background-color: white;
}

.recent-list li {
  /* padding: 10px; */
  border: 1px solid #DDD;
  cursor: pointer;
  display: flex;
  color: grey;
  align-items: center;
  justify-content: space-around;
  font-size: 2.5vh;
 margin: 1vh;
 padding: 1vh;
}
.recent-list li:hover{
  border: #6200EA 1px solid;
}
.recent-list li button{
  color: grey;
  background-color: transparent;
  font-size: 2vh;
  border: 1px solid grey;
  border-radius: 10px;
}
.recent-list li button:hover{
  color: white;
  background-color: grey;
}
.room-numbers {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.room-numbers button {
  flex: 1 1 30%;
  /* padding: 10px; */
  border: 1px solid #DDD;
  background-color: white;
  color: black;
  cursor: pointer;
  /* font-size: var(--font-size); */
}

.room-numbers button.selected {
  background-color: #6200EA;
  color: white;
}

.controls {
  position: sticky;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  z-index: 1;
}

.zoom-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  width: fit-content;
}

.zoom-controls button {
  width: var(--button-size);
  height: var(--button-size);
  background-color: transparent;
  color: gray;
  border: none;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

.hamburger-button {
  /* width: var(--button-size);
  height: var(--button-size); */
  padding: 1vw;
  background-color: white;
  border: 2px solid gray;
  color: gray;
  border-radius: 5px;
  cursor: pointer;
}

.form-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: var(--form-width);
  height: fit-content;
  z-index: 1;
  /* background-color: rgb(234, 233, 233); */
  padding: 2vw;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.form-container.open {
  display: flex;
  z-index: 2;
}

.close-button {
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: none;
  border: none;
  width: fit-content;
  align-self: last baseline;
  margin-right: 0;
  font-size: 2vw;
  cursor: pointer;
  color: black;
}

.zoomed {
  transform-origin: 0 0;
  transition: transform 0.3s ease;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
  font-size: 3.5rem;
}

.offices {
  overflow: scroll;
  height: 70vh;
  scrollbar-width: none;
  background-color: #fbfafa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2vh;
}

.offices button {
  margin: 10px;
  width: fit-content;
  font-weight: 100;
}

/* Media Queries */
@media (max-width: 1024px) {
  :root {
    --form-width: 50vw;
    --font-size: 1.2vw;
  }
  .form-container {
    width: var(--form-width);
  }

  .hamburger-button,
  .zoom-controls {
    padding: 5px;
    font-size: 0.8rem;
  }

  .zoom-controls button {
    padding: 5px;
  }
}

@media (max-width: 768px) {
  :root {
    --form-width: 75vw;
    --font-size: 1.5vh;
  }
  .form-container {
    width: var(--form-width);
  }

  .hamburger-button,
  .zoom-controls {
    padding: 5px;
    font-size: 0.6rem;
  }

  .zoom-controls button {
    padding: 5px;
  }
}



@media (max-width: 480px) {
  :root {
    --form-width: 90vw;
    --font-size: 2vh;
  }
  svg {
    transform: scale(1); /* Zoom out to 25% */
    transform-origin: 0 0;  /* Ensure the zoom out occurs from the top-left corner */
  }
  .controls {
    position: sticky;
    top: 10px; /* Adjust this as needed */
    left: 10px; /* Adjust this as needed */
    width: fit-content;
  }
  .hamburger-button {
    /* height: 7.5vh;
    width: 7.5vh; */
    padding: 5vh;
    font-size: 5vh;
  }
  .form-container {
    width: 90%;
    margin: auto;
    height: 100%;
    padding: 10px;
    font-size: 5vh;
  }
  .form-container input{
    width: 90%;
    height: 40vh;
    padding: 20px;
    font-size: 5rem;
  }
  .form-container button{
    font-size: 5rem;
  }
  .inputs-btns button{
    padding: 5vw;

  }
  
  .hamburger-button,
  .zoom-controls {
    /* padding: 3px; */
    font-size: 0.5rem;
  }

  .zoom-controls button {
    padding: 5vw;
    font-size: inherit;
    height: fit-content;
    
  }
  
  .recent-list li{
    font-size: 7.5vh;
  }
   ul{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .recent-list ul> li{
    border: 1px solid gray;
    font-size: inherit;
  }
  .offices{
    font-size: inherit;
    height: 60vh;
  }
  .office-toggle{
    font-size: 2.5rem;
    text-align: center;
    margin: auto;
  }
}
