/* Default styles for all screen sizes */
body {
    font-size: 62.6%; /* Setting base font size for rem units */
    width: 100vw;
    position: absolute;
}
/* Apply to the entire document */
html, body {
    touch-action: manipulation;
}
.header{
    background-color: purple;
    padding: 1rem;
    color: white;
    text-align: center;
    font-size: 2rem;
}
input {
    border: .2rem solid purple;
    width: 100%;
    height: 5rem;
    outline: none;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 4rem;
    text-align: left;
    padding: .5rem;
}

input::placeholder {
    color: gray;
    font-size: 5rem;
    text-align: center;
}

/* input:nth-child(even) {
    border-left: .25rem solid purple;
} */

.inpt-group {
    border: .5rem solid purple;
    position: fixed;
    bottom: 10rem;
    width: 30vw;
    height: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
    margin-top: 1rem;
}

canvas {
    width: auto;
    height: inherit;
    transform: rotate(0deg);
    margin: auto;
    position: relative;
    left: auto;
    right: auto;
}

button {
    height: inherit;
    width: 100%;
    font-size: 3.5rem;
    background-color: purple;
    outline: none;
    border: none;
    color: white;
    font-weight: 500;
    padding: 1.5rem;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
    /* Adjust styles for mobile devices here */
    .header{
        width: 100vw;
        font-size: 1.25rem;
    }
    .inpt-group {
        width: 100vw; /* Example adjustment */
        padding: 0;
        height: fit-content;
        bottom: .5rem;
        left: 0;
        right: 0;
        margin: auto;
        border: none;
    }
    input{
        height: 2rem;
        width: 50%;
        font-size: 1rem;
        margin-bottom: .5rem;
        border: .1rem solid purple;
    }
    input::placeholder{
        font-size: 1rem;
    }
    button{
        padding: .5rem;
        width: 50%;
        font-size: 1rem;
    }
     #drawLine{
        width: 100%;
    }
    canvas{
        width: 100%;
    }
    .flex{
        margin-top: .25rem;
    }
}

/* Media query for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Adjust styles for tablet devices here */
    .inpt-group {
        width: 100; /* Example adjustment */
    }
}
